/* The main css file for general stylings */

:root {
  --black: #212121;
  --white: #f0f0f0;
  --blue: #2185d0;
}

* {
  transition: 0.1s;
  box-sizing: border-box;
  text-overflow: ellipsis;
}

html, body, .container, .card {
  padding: 2em;
  letter-spacing: -0.025em;
}

.fixed-image {
  position: fixed;
  left: 0;
  top: 0;
  width: 135vw;
  z-index: -1;
}

body {
  overflow-y: scroll;
}

span {
  white-space: nowrap;
}      

input:focus{
  outline: none;
}

.header {
  letter-spacing: -0.06em;
}

/* Uhmm */
.hellyeahimanadminmf {
  background-color: var(--adminbg) !important;
}

/* Scrollbar things */
::-webkit-scrollbar {
  width: 0px;
  margin-left: -0px;
}

::-webkit-scrollbar-track {
  background: var(--bg2);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollhover);
}

.timer pre {
  width: 50px;
  margin: 0;
  text-align: right;
  white-space: pre-line;
  padding: 0;
}

.timer-label {
  opacity: 0.4;
  font-weight: bold;
}

/* Labels */
.ui.label {
  letter-spacing: -0.016em !important;
}

/* Palette stuff */
.ui.palette.input {
  background-color: transparent;
  width: 100%;
  font-size: 2em;
  border: 0px solid;
  outline: 0px solid transparent !important;
}

.ui.palette.input, 
.ui.palette.input:focus, 
.ui.palette.input:active
.ui.palette.input:-webkit-autofill,
.ui.palette.input:-webkit-autofill:hover, 
.ui.palette.input:-webkit-autofill:focus, 
.ui.palette.input:-webkit-autofill:active {
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
}

.ui.palette.input.shadow, 
.ui.palette.input.shadow:focus, 
.ui.palette.input.shadow:active
.ui.palette.input.shadow:-webkit-autofill,
.ui.palette.input.shadow:-webkit-autofill:hover, 
.ui.palette.input.shadow:-webkit-autofill:focus, 
.ui.palette.input.shadow:-webkit-autofill:active {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
  -webkit-text-fill-color: rgb(100, 150, 255) !important;
  opacity: 0.75;
}

.ui.modal.palette {
  background-color: rgba(0, 0, 0, 0) !important;
  top: 10vh;
  transform: translateX(-50%) !important;
  box-shadow: none !important;
}

.ui.modal.palette>* {
  color: white !important;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0) !important;
}

/* Inputs */
input, input:focus, input:active {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset !important;
  -webkit-text-fill-color: #080808 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: #080808 !important;
  -webkit-box-shadow: 0 0 0 0 rgba(5, 3, 3, 0) inset !important;
  box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0);
}

.disabled:hover {
  cursor: not-allowed !important;
}

/* Modals */
.ui.dimmer.modal-bg {
  background-color: rgba(5, 5, 10, 0.99) !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  padding-left: 50vw !important;
  padding-top: 44vh !important;
  pointer-events: all;
}

.ui.modal.visible.active {
  transform: translate(-50%, -50%);
}

/* Table */
.hoverable-row {
  cursor: pointer;
}

.hoverable-row:hover {
  background-color: rgba(0, 0, 0, 0.03);
  transform: translateX(6px);
}

/* Menu */
.item.active {
  color: var(--blue) !important;
}

.item.active>.ui.label {
  background-color: var(--blue) !important;
}

/* Dark mode toggler */
.darkmode-toggle {
  position: fixed;
  width: 256px;
  height: 256px;
  padding: 50px;
  left: -40px;
  bottom: -169px;
  border-radius: 50%;
  transition: 0.3s;
}

.darkmode-toggle:hover {
  background-color: var(--fg1);
  color: var(--bg2);
  opacity: 1;
  left: -20px;
  transform: scale(1.2) rotate(5deg);
}

.darkmode-toggle:hover label {
  color: var(--bg2);
}

/* Trademark stuffs */
.trademark {
  position: fixed;
  bottom: -174px; 
  right: -40px;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  padding: 50px;

  font-size: 15px;
  opacity: 0.4;
  color: var(--fg1);
  transition: 0.3s !important;
}

.trademark:hover {
  background-color: var(--fg1);
  color: var(--bg2);
  opacity: 1;
  transform: scale(1.2) rotate(-5deg);
}

.trademark a {
  font-weight: bold;
  color: #2962ff;
}

.trademark:hover a {
  color: #cfd8dc;
}