/* The main css file for general stylings */

:root {
  --white: 27, 28, 29;
  --black: 255, 255, 255;
  --blue:  33, 133, 208;
  --green: 55, 255, 128;
}

* {
  transition: 0.125s !important;
  box-sizing: border-box;
  text-overflow: ellipsis;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; 

  box-shadow: none !important;
}

*::selection {
  color: rgba(var(--white), 0.25) !important;
  background: rgba(var(--black), 0.25) !important;
}

html, body, .container, .card {
  padding: 2em;
  letter-spacing: -0.025em;
  background-color: rgba(var(--white), 1) !important;
}

body {
  overflow-y: scroll;
}

span {
  white-space: nowrap;
}      

input:focus{
  outline: none;
}

.fixed-image {
  position: fixed;
  left: 0;
  top: 0;
  width: 135vw;
  z-index: -1;
}

/* Semantic overrides */
.ui.header {
  letter-spacing: -0.06em;
  color: rgb(var(--black), 0.9) !important;
}

.ui.tab {
  border-color: rgba(var(--black), 0.08) !important;
}

.ui.tab,
.ui.card,
.ui.content {
  background-color: rgb(var(--white)) !important;
  color: rgb(var(--black)) !important;
}

.active.section {
  color: rgba(var(--black), 0.7) !important;
}

i.icon {
  color: rgba(var(--black), 0.9) !important;
}

.button.basic {
  border: 1px solid rgba(var(--black), 0.5) !important;
}

.button>div>i.icon,
.button>i.icon {
  color: rgba(255, 255, 255, 0.9) !important;
}

.basic {
  background-color: rgb(var(--white)) !important;
}

.ui.placeholder,
.ui.placeholder>* 
.ui.placeholder>.paragraph
.ui.placeholder>.paragraph>.line {
  width: 560px !important;
  max-width: 100% !important;
  background-color: rgba(var(--black), 0.1) !important;
  margin: 0 !important;
  margin-bottom: 0em !important;
}

.black>.icon,
.black>i.icon,
.black>div>i.icon,
.black {
  background-color: rgb(var(--black)) !important;
  color: rgba(var(--white), 0.87) !important;
}

.label.default {
  background-color: rgba(var(--black), 0.1) !important;
  color: rgba(var(--black), 0.87) !important;
}

/* Scrollbar things */
::-webkit-scrollbar {
  width: 0px;
  margin-left: -0px;
}

.timer {
  color: rgb(var(--black));
  opacity: 0.6;
  line-height: 1.5;
  font-size: 2.8rem !important;
}

.timer pre {
  width: 50px;
  margin: 0;
  text-align: right;
  white-space: pre-line;
  padding: 0;
}

.timer-label {
  opacity: 0.4;
  font-weight: bold;
}

/* Labels */
.ui.label {
  letter-spacing: -0.016em !important;
  pointer-events: none;
}

/* Tool tip stuff */
.tooltip {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  max-width: 32em;

  transform: translate(0, -125%);
  padding: 0.5em 1em 0.5em 1em;
  background-color: rgb(var(--white));
  border: 0.5px solid rgba(var(--black), 0.1);
  color: rgb(var(--black));
  border-radius: 0.2em;
  pointer-events: none;
  transition: 0s;
}

.tooltip.active {
  opacity: 1 !important;
}

.tooltip>.label {
  border: 0px !important;
  transform: translate(-1px, 1px);
}

/* Settings stuff */
.ui.modal.settings-modal {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  top: 10vh;
  transform: translateX(-50%) !important;;
}

.ui.modal.settings-modal>* {
  color: white !important;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0) !important;
}

.ui.dimmer.modal-bg:has(.settings-modal) {
  background-color: rgba(0, 0, 0, 0.16) !important; 
}

/* Palette stuff */
.ui.palette.input {
  background-color: transparent;
  width: 100%;
  font-size: 2em;
  border: 0px solid;
  outline: 0px solid transparent !important;
}

.ui.palette.input, 
.ui.palette.input:focus, 
.ui.palette.input:active {
  color: rgb(var(--black)) !important;
  -webkit-text-fill-color: rgb(var(--black)) !important;
}

.ui.palette.input.shadow, 
.ui.palette.input.shadow:focus, 
.ui.palette.input.shadow:active {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
  -webkit-text-fill-color: rgb(var(--blue)) !important;
  opacity: 0.75;
}

.palette-table {
  border-collapse: collapse;
}

.palette-row,
.palette-row>* {
  border-width: 0 !important;
  margin: 0;
}

.palette-row:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(var(--black), 0.03) 20%, rgba(var(--black), 0.03) 50%, rgba(0, 0, 0, 0) 100%) !important;
}

.palette-row:hover>* {
  color: rgba(var(--blue), 0.7) !important;
} 

.palette-label {
  background-color: rgba(var(--white), 0.87) !important;
  border-color: rgba(var(--black), 0.25) !important;
  color: rgba(var(--black), 0.7) !important;
  font-weight: 400 !important;
}

.palette-description {
  color: rgba(var(--black), 0.6) !important;
  width: 100%;
}

.ui.modal.palette {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
  top: 10vh;
  transform: translateX(-50%) !important;
}

.ui.modal.palette>* {
  color: white !important;
  font-family: monospace;
  background-color: rgba(0, 0, 0, 0) !important;
}

.ui.dimmer.modal-bg:has(.palette) {
  background-color: rgba(0, 0, 0, 0.16) !important; 
}

/* Toasts */
.toast-container {
  background-color: transparent !important;
}

.toast {
  background-color: rgb(var(--white)) !important;
  color: rgba(var(--black), 0.87) !important;
  border: 1px solid rgba(var(--black), 0.1) !important;
}

/* Inputs */
input, input:focus, input:active, select {
  background-color: rgba(var(--black), 0.069) !important;
  color: rgba(var(--black), 0.87) !important;
  -webkit-text-fill-color: rgba(var(--black), 0.87) !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-background-clip: text !important;
  color: rgba(0, 0, 0, 0.87) !important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

option {
  background-color: rgba(var(--white), 0.87) !important;
  color: rgba(var(--black), 0.87) !important;
}

label {
  color: rgba(var(--black), 0.87) !important;
}

.disabled:hover {
  cursor: not-allowed !important;
}

/* Modals */
.ui.dimmer.modal-bg {
  background-color: rgba(var(--black), 0.16) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;

  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  padding-left: 50vw !important;
  padding-top: 44vh !important;
  pointer-events: all;
}

.ui.modal.visible.active {
  background-color: rgb(var(--white));
  border: 1px solid rgba(var(--black), 0.16);
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.ui.modal>.header,
.ui.modal>.ui.content,
.ui.modal>.actions {
  background-color: rgb(var(--white)) !important;
  color: rgb(var(--black), 0.87) !important;
}

/* Table */
table,
th, td {
  background-color: rgb(var(--white)) !important;
  color: rgba(var(--black), 0.87) !important;
  border-color: rgba(var(--black), 0.1) !important;
  overflow: hidden;
}

td {
  background-color: transparent !important;
}

.hoverable-row {
  cursor: pointer;
}

.hoverable-row:hover {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(var(--black), 0.03) 20%, rgba(var(--black), 0.03));
  transform: translateX(6px);
}

/* Menu */
a.item {
  color: rgba(var(--black), 0.87) !important;
}

a.item:hover {
  background-color: rgba(var(--black), 0.1) !important;
}

a.item.active {
  background-color: rgba(var(--black), 0.05) !important;
  color: rgb(var(--blue)) !important;
}

a.item.active>.ui.label {
  background-color: rgb(var(--blue)) !important;
}

/* Dark mode toggler */
.settings {
  position: fixed;
  bottom: -153px; 
  left: -32px;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  padding: 50px;
  
  font-size: 15px;
  opacity: 0.4;
  color: rgb(var(--black));
  transition: 0.3s !important;
}

.settings:hover {
  background-color: rgba(var(--black), 1);
  color: rgb(var(--blue));
  opacity: 1;
  cursor: pointer;
  transform: scale(1.2) rotate(5deg);
}

.settings:hover>div>.text {
  opacity: 0;
}

.settings:hover>div>.icon {
  background-color: rgba(0, 0, 0, 0) !important;
  transform: translate(-60%, -25%) scale(3.2);
}

/* Trademark stuffs */
.trademark {
  position: fixed;
  bottom: -174px; 
  right: -40px;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  padding: 50px;

  font-size: 15px;
  opacity: 0.4;
  color: rgb(var(--black));
  transition: 0.3s !important;
}

.trademark:hover {
  background-color: rgba(var(--black), 1);
  color: rgb(var(--blue));
  opacity: 1;
  transform: scale(1.2) rotate(-5deg);
}

.trademark a {
  font-weight: bold;
  color: #2962ff;
}

.trademark:hover a {
  color: #cfd8dc;
}