@font-face {
  font-family: landingTitleFont;
  src: url(/resources/fonts/Helvetica-Bold.ttf);
}

.landing-title {
  position: absolute;
  top: 33%;
  margin-left: 10%;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  font-family: landingTitleFont;
  font-size: 7rem;
  line-height: 10rem;
  letter-spacing: -5px;
  text-wrap: nowrap;
  color: var(--fg1);
}

.landing-title-bg {
  background-color: var(--fg1);
  position: fixed;
  margin: 0;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 33vh;
  opacity: 0.08;
}

.fields-container {
  position: fixed;
  width: 48rem;
  margin-top: 64vh;
  margin-left: 10%;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.field-buttons-container {
  position: fixed;
  width: 48rem;
  margin-top: 77vh;
  margin-left: 10%;

  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width : 1280px) {
  .landing-title {
    font-size: 4.5rem;
    line-height: 6.9rem;
    text-wrap: balance;
  }
}

@media (max-width : 1280px) {
  .btn {
    width: 22%;
    display: inline-block;
    margin-bottom: 5px;
  }
}