@font-face {
  font-family: landingTitleFont;
  src: url(/resources/fonts/Helvetica-Bold.ttf);
}

* {
  transition: width 0s, height 0s, font-size 0s !important;
}

body {
  background-image: url("/pho-2-bg");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
  background-color: #ffffff;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 0s !important;
}

.landing-title {
  background-image: url("/pho-2-title");
  background-repeat: no-repeat;
  background-size: cover;

  position: fixed;
  top: 16vh;
  left: 12vw;
  width: 58vw;
  height: 16vw;
  transition: 0s !important;
}

.input-field {
  margin-top: 2vh;
}

input, input:focus, input:active {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset !important;
  -webkit-text-fill-color: #080808 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: #080808 !important;
  -webkit-box-shadow: 0 0 0 0 rgba(5, 3, 3, 0) inset !important;
  box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0);
}

.fields-container {
  position: absolute;
  width: 25vw;
  top: 54vh;
  left: 12vw;
}

.field-buttons-container {
  position: absolute;
  width: 25vw;
  top: 78vh;
  left: 12vw;
}

@media (max-width : 1280px) {
  
}

@media (max-width : 1024px) {
  .landing-title {
    top: 16vh;
    left: 12vw;
    width: 58vh;
    height: 16vh;
  }
}