/* The main css file for general stylings */

:root {
  --black: #212121;
}

* {
  transition: 0.1s;
}

.wont-load-warning {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 0;
}

.wont-load-warning-content {
  padding: 8px;
  color: var(--fg1);
  opacity: 0.8;
}

/* Assets */
@font-face {
  font-family: titleFont;
  src: url(/resources/fonts/Heebo-SemiBold.ttf);
}

@font-face {
  font-family: headerFont;
  src: url(/resources/fonts/Helvetica-Bold.ttf);
}

@font-face {
  font-family: subHeaderFont;
  src: url(/resources/fonts/Helvetica.ttf);
}

@font-face {
  font-family: monoFont;
  src: url(/resources/fonts/RobotoMono-Regular.ttf);
}

/* Uhmm */
.hellyeahimanadminmf {
  background-color: var(--adminbg) !important;
}

/* Home page things */
.main-logo {
  filter: var(--logo);
  box-shadow: 0 0 32px 32px white inset;
}

.home-login {
  
}

.home-tab {
  height: 100vh;
  background-color: var(--bg1) !important;
}

.pho-2-short-title::after {
  content: "2";
  font-size: 50%;
  display: inline-block;
  -webkit-transform: translate(0, -32%);
}

/* Scrollbar things */
::-webkit-scrollbar {
  width: 16px;
  margin-left: -16px;
}

::-webkit-scrollbar-track {
  background: var(--bg2);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollhover);
}

/* Navbar things */
nav {
  color: var(--fg3);
  background-color: var(--navbg);
  box-shadow: none;
  height: 90px;
}

nav a.ui-text {
  color: var(--fg3);
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;

  font-size: 16px;
  font-family: subHeaderFont;
  letter-spacing: 0;
}

nav a.ui-text:hover {
  background-color: var(--fg1);
}

nav ul {
  background-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0), var(--fg1) 4%, var(--fg1));
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

nav ul li {
  height: 100%;
}

.sidenav {
  background-color: var(--bg1);
  color: var(--fg2);
}

.sidenav .subheader {
  color: var(--fg2);
}

.nav-title {
  display: inline-block;
  height: 100%;
  margin-left: 48px;
  margin-top: -10px;
  padding: 0;
  font-family: headerFont;
}

.nav-title-text {
  display: inline-block;
  padding: 0;
  margin: 0;

  font-size: 32px;
  line-height: 32px;
  opacity: 0.96;
  letter-spacing: -0.04em;
  text-overflow: ellipsis;
}

#navbar-title-desktop {
  display: inline-block;
  font-family: subHeaderFont;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.025em;

  transform: translate(0, -50%);
  opacity: 0.5;
}

#navbar-title-mobile {
  display: inline-block;
  font-family: subHeaderFont;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.025em;

  transform: translate(0, -50%);
  opacity: 0.5;
}

#navbar-title-team {
  
}

#navbar-title-cat {
  display: inline-block;
  font-family: subHeaderFont;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.025em;

  transform: translate(0, -50%);
  opacity: 0.5;
}

/* Info board */
.main-content {
  height: 100vh;
  background-color: var(--bg2);
}

.main-content-info {
  margin: 0;
  margin-right: 100px;
  height: 100vh !important;

  color: var(--fg1);
  background-color: var(--bg1);
}

.logo-container {
  width: 100%;
}

.timer pre {
  width: 50px;
  margin: 0;
  text-align: right;
  white-space: pre-line;
  padding: 0;
}

.timer-label {
  opacity: 0.4;
  font-weight: bold;
}

/* General stylings */
body {
  overflow-y: hidden;
  background-color: var(--bg1);
  opacity: 0;
}

html {
  font-family: Manrope;
  background-color: #888888;
}

table {
  table-layout: fixed;
  color: var(--fg1);
}

textarea {
  margin-top: 8px;
  margin-right: 16px;
  padding: 10px;
  height: 256px;

  outline: none;
  border-radius: 0;
  border-style: none;
  font-weight: 100;
}

textarea:focus {
  padding: 10px;
  border-radius: 0;
}

.textarea-container {
  padding-left: 96px;
}

tr {
  display: flex;
  width: 100%;
  align-items: center;
  line-height: 1.333;
  border: 0;
}

td:first-child {
  padding-left: 24px;
}

td {
  width: 108px;
  min-width: 64px;
  flex-grow: 1;
  display: flex;
  border-radius: 0;
  line-height: 1.333;

  text-wrap: nowrap;
  align-items: center;
}

td:has(.table-btn) {
  min-width: 128px !important;
  flex: initial;
}

.selected-tr {
  color: var(--black) !important;
  background-color: var(--posbg) !important;
}

.info-text {
  height: 168px;
  line-height: 1.6;
  margin-bottom: 0;
  display: -webkit-box;
  position: relative;

  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-vh-height {
  min-height: 100vh;
}

.no-margin {
  margin: 0;
}

.title-text {
  font-family: titleFont;
  max-width: 100%;
  margin-bottom: 24px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-text {
  font-family: Lexend;
}

.mono-text {
  font-family: monoFont;
}

.err-logo-container{
  width: 512px;
}

/* Dark mode toggler */
.darkmode-toggle {
  position: fixed;
  width: 256px;
  height: 256px;
  padding: 50px;
  left: -40px;
  bottom: -169px;
  border-radius: 50%;
  transition: 0.3s;
}

.darkmode-toggle:hover {
  background-color: var(--fg1);
  color: var(--bg2);
  opacity: 1;
  left: -20px;
  transform: scale(1.2) rotate(5deg);
}

.darkmode-toggle:hover label {
  color: var(--bg2);
}

/* Trademark stuffs */
.trademark {
  position: fixed;
  bottom: -174px; 
  right: -40px;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  padding: 50px;

  font-size: 15px;
  opacity: 0.4;
  color: var(--fg1);
  transition: 0.3s !important;
}

.trademark:hover {
  background-color: var(--fg1);
  color: var(--bg2);
  opacity: 1;
  transform: scale(1.2) rotate(-5deg);
}

.trademark a {
  font-weight: bold;
  color: #2962ff;
}

.trademark:hover a {
  color: #cfd8dc;
}

#toast-container div {
  color: var(--bg2);
  background-color: var(--fg2);
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 5%;
  left: 70%;  
}

@media (max-width : 1440px) {
  table tr {
    overflow-x: auto;
  }
}

@media (max-width : 1440px) {
  h2 {
    font-size: 40px;
  }
}

@media (max-width : 1280px) {
  h2 {
    font-size: 32px;
  }
}

@media (max-width : 1280px) {
  .btn {
    width: 45%;
    display: inline-block;
    margin-bottom: 5px;
  }
}

@media (max-width : 800px) {
  .err-logo-container {
    width: 250px;
  }
}

/* Overrides to Materialize */
.modal {
  color: var(--fg1);
  background-color: var(--bg1);
}

.modal-content {
  background-color: var(--bg1);
}

.modal-footer {
  background-color: var(--bg1) !important;
}

td .btn {
  padding: 0;
  margin: 0;
  margin-right: 24px;
  float: right;
  min-width: 108px;
  
  box-shadow: var(--shadow);
  background-color: var(--bg1) !important;
  color: var(--fg1);
}

td .btn:hover {
  box-shadow: none;
  background-color: var(--bg3) !important;
  color: var(--fg4);
}

td .btn img {
  filter: invert(32%) sepia(49%) saturate(2501%) hue-rotate(338deg) brightness(91%) contrast(96%);
}

td .btn:hover img {
  filter: invert(92%);
}

.btn {
  min-width: 160px;
}

.waves-effect {
  background-color: var(--btnbg) !important;
}

input {
  color: var(--fg1);
  -webkit-box-shadow: 0 0 0 30px var(--bg1) inset !important;
  -webkit-text-fill-color: var(--fg1) !important;
}

input::placeholder {
  opacity: 0.5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--bg1) inset !important;
}

#filter-text {
  -webkit-box-shadow: 0 0 0 30px var(--bg2) inset !important;
}

.tabs {
  height: 48px;
  border-bottom: 1px solid var(--bg3);
  background-color: var(--bg2);
}

.tabs .tab a {
  color: var(--fg1);
}

.tabs .tab a.active::before {
  font-size: 120%;
  content: "\276E  ";
  opacity: 0.33;
}

.tabs .tab a.active::after {
  font-size: 120%;
  content: " \276F";
  opacity: 0.33;
}

.tabs .tab a.active {
  color: var(--fg4);
  background-color: var(--bg3);
}

.tabs .tab a:hover {
  color: var(--fg1);
  background-color: var(--hover);
}

.tabs .tab a:focus.active {
  color:var(--bg1);
  background-color: var(--bg3);
}

.tabs .tab a:focus {
  color: var(--bg1);
  background-color: var(--bg3);
}

.tabs .indicator {
  visibility: hidden;
}

/* Table formatting */
.row {
  background-color: var(--bg2);
}

.table-card table tr td {
  height: 80px;
}

.table-card table tr td a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-card table tr td b {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-card table tr td div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-card {
  padding: 0;
  height: calc(100vh - 440px);
  overflow-y: auto;
}

td:has(.table-btn) {
  margin: 0;
  width: 128px;
  max-width: 128px !important;
}

.table-btn {
  margin: 0;
}